@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";
@import "primeicons/primeicons.css";

:root {
  --bg-gradient:
    linear-gradient(
      180deg,
      rgba(241, 94, 222, 0) 0%,
      rgba(119, 91, 244, 0.2) 100%
    ),
    #0c0c10;
}

html {
  font-family: "Space Grotesk", sans-serif;
  height: 100%;
}

body {
  height: 100%;
  color: var(--color-zinc-50);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}
.page-enter-from,
.page-leave-to {
  filter: blur(0.1rem);
}

.layout-enter-active,
.layout-leave-active {
  transition: all 0.2s;
}
.layout-enter-from,
.layout-leave-to {
  filter: blur(0.1rem);
}
