@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

:root {
  --bg-gradient:
    linear-gradient(
      180deg,
      rgba(241, 94, 222, 0) 0%,
      rgba(119, 91, 244, 0.2) 100%
    ),
    #0c0c10;
}

html {
  font-family: "Space Grotesk", sans-serif;
  height: 100%;
}

body {
  height: 100%;
  color: var(--color-zinc-50);
}
